.header{
  display: flex;
  justify-content: space-between;
  text-align:center;
  background: beige;
  margin: 2em;
  min-width: 800px;
}
.title{
  width: 70%;
  font-size: 2em;
  border: 1px solid black;
}
.control{
  width: 20%;
  min-width: 150px;
  display: inline;
  border: 1px solid black;
}
.control-button{
  border-radius: 25px;
  min-width: 50px;
}
