<div class="header">
  <span class="title" routerLink="/dishes">
    Welcome to {{title}}!
  </span>
  <span class="control">
    <img *ngIf="!loginStatus()" src="assets/cart.png" width="50" height="50" routerLink="/cart">
    <img *ngIf="!loginStatus()" src="assets/login-old.png" width="50" height="50" routerLink="/login">
    <span *ngIf="loginStatus()">Welcome Admin!</span>
    <img *ngIf="loginStatus()" src="assets/logout.png" width="50" height="50" (click)="logOut()" routerLink="/dishes">
  </span>
</div>
