<div class="container cart">
  <div class="navigation">
    <button class="navi-button cart-button" routerLink="/dishes">Back to menu</button>
    <button class="navi-button cart-button" routerLink="/order">Order summary</button>
  </div>
  <div class="price-summary">
    <div> Total price:
      {{totalPrice | number: '1.2-2'}} zl</div>
  </div>
  <div>
    <table *ngIf="dishesInCart" class="table-cart">
      <thead>
      <tr>
        <th class="table-cart-id">No.</th>
        <th class="table-cart-name">Name</th>
        <th class="table-cart-desc">Description</th>
        <th class="table-cart-price">Price</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dish of dishesInCart; let i = index">
        <td class="table-cart-id">{{i+1}}</td>
        <td class="table-cart-name">{{dish.name}}</td>
        <td class="table-cart-desc">{{dish.description}}</td>
        <td class="table-cart-price">{{dish.price}}</td>
        <td class="table-cart-remove">
          <button class="table-button" (click)="removeFromCart(this.dish)"> remove from cart</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
