.order-container {
  display: flex;
  justify-content: center;
  min-width: 800px;
  background: beige;
}
table, th, td{
  border: 1px solid black;
}
.table-orders{
  width: 100%;
}
.column-id{
  width: 5%;
}
.column-dishes{
  width: 80%;
}
.column-edition{
  width: 15%;
}
