<div class="dishes-details">
  <table *ngIf="isTableVisible" class="table-dishes-details">
    <thead>
    <tr class="table-col-description">
      <th class="table-dishes-det-id">No</th>
      <th class="table-dishes-det-name">Name</th>
      <th class="table-dishes-det-desc">Description</th>
      <th class="table-dishes-det-price">Price</th>
      <th class="table-dishes-det-availability">Availability</th>
      <th class="table-dishes-det-edition">Edition</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dish of allDishes">
      <td class="table-dishes-det-id">{{dish.id}}</td>
      <td class="table-dishes-det-name">{{dish.name}}</td>
      <td class="table-dishes-det-desc">{{dish.description}}</td>
      <td class="table-dishes-det-price">{{dish.price}}</td>
      <td class="table-dishes-det-availability">
        <img *ngIf="dish.isAvailable" src="assets/true.png" width="20" height="20">
        <img *ngIf="!dish.isAvailable" src="assets/false.png" width="20" height="20">
      </td>
      <td class="table-dishes-det-edition">
        <button class="table-button" (click)="showDishDetails(dish.id)"> Show details</button>
      </td>
    </tr>
    </tbody>
  </table>
  <app-dish-details *ngIf="isDishDetailsVisible" [dish]="selectedDish"></app-dish-details>
  <br>
  <div>
    <button class="table-button" *ngIf="isDishDetailsVisible" (click)="showAllDishes()"> Show All</button>
  </div>
</div>
