// global styles
* {
  font-family: Calibri;
}
body{
  background-image: url("assets/pizza-b02.png");
}
.container{
  display: flex;
  justify-content: space-between;
  text-align: center;
  min-width: 640px;
  margin: 2em;
  background: #f5f5dc;
  border-radius: 1em;
}
.navigation{
  width: 100%;
  min-width: 640px;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.navi-button{
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em;
  padding: 0.5em;
  background: #d2691e;
  border: #d2691e;
  color: #2322ff;
  border-radius: 25px;
  width: 25%;
}

.table-button{
  background: #948473;
  border-radius: 10px;
  font-weight: bold;
  color: #F0F0F0;
  padding: 4px;
}

.navi-button:hover{
  background: #d29c27;
  border: #d29c27;
}

label{
  display: inline-block;
  min-width: 150px;
  margin: 0.2em;
}

// manage-orders styles
.order-details{
  min-width: auto;
}

// manage-dishes styles
.dishes-details{
  min-width: auto;
}
.table-dishes-det-id{
  width: 5%;
}
.table-dishes-det-name{
  width: 20%;
}
.table-dishes-det-desc{
  width: 40%;
}
.table-dishes-det-price{
  width: 10%;
}
.table-dishes-det-availability{
  width: 5%;
}
.table-dishes-det-edition{
  width: 20%;
}

// admin panel styles
.admin{
  display: block;
}
.admin-actions{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-content: center;
}

// order-form styles
.order{
  display: flex;
  justify-content: space-around;
}

.dishes-list {
  border: 1px solid black;
  min-width: 280px;
  width: 100%;
  margin: 20px;
}

.table-order {
  width: 80%;
  min-width: 150px;
}
.order-form{
  display: inline-block;
  justify-content: flex-start;
  border: 1px solid black;
  min-width: 280px;
  width: 100%;
  margin: 20px;
}
.table-order-id{
  width: 5%;
}
.table-order-id{
  width: 15%;
}
.table-order-id{
  width: 40%;
}
.table-order-id{
  width: 10%;
}

// cart styles
.cart{
  flex-wrap: wrap;
  display: block;
}
.price-summary{
  font-size: large;
  font-weight: bold;
  margin-right: 20%;
  display: flex;
  justify-content: flex-end;
}
.cart-button{
  font-size: 1.5em;
}
.table-cart-id{
  width: 5%;
}
.table-cart-name{
  width: 30%;
}
.table-cart-description{
  width: 50%;
}
.table-cart-price{
  width: 15%;
}
.table-order tbody td {
  font-size: 12.5px;
}
.table-order th {
  font-size: 17.5px;
}

// dishes styles
.dishes{
 display: block;
}

table {
  border: 6px solid #948473;
  background-color: #FFE3C6;
  text-align: center;
  margin-left: 3vw;
  width: 80%;
  min-width: 600px;
}
td{
  border: 1px solid #948473;
  padding: 4px 4px;
}
thead {
  background: #948473;
  background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}
th {
  font-size: 22.5px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: center;
}
.table-dishes td {
  font-size: 16px;
}
.table-dishes-id{
  width: 5%;
}
.table-dishes-name{
  width: 25%;
}
.table-dishes-description{
  width: 40%;
}
.table-dishes-price{
  width: 10%;
}
.table-dishes-add{
  width: 20%;
}

// header styles
.header{
  border-radius: 1em;
}
.title{
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: center;
  font-family: "Blackadder ITC";
  font-size: 40px;
}
.control{
  width: 15%;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f5f1cc;
  border-radius: 1em;
}
.header-icon{
  min-width: 50px;
}
