.dishes-container {
  min-width: 800px;
  background: beige;
  margin: 0.5em;
  padding: 0.5em;
}

.dishes-types{
  border: 1px solid black;
  width: 75%;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.dishes-types button {
  justify-self: center;
  font-size: 2em;
  margin: 0.5em;
  padding: 0.5em;
  background: chocolate;
  border: chocolate;
  color: blue;
  border-radius: 25px;
}

.dishes-types button:hover {
  background: #d29c27;
  border: #d29c27;
}
table, th, td{
  border: 1px solid black;
}
.table-dishes{
  width: 100%;
}
.column-id{
  width: 15%;
}
.column-name{
  width: 10%;
}
.column-desc{
  width: 50%;
}
.column-price{
  width: 10%;
}
.column-order{
  width: 15%;
}
