<div class="container dishes">
  <div class="navigation">
    <button class="dishes-types" (click)="getDishesByType(typePizza)" id="button01">Pizza</button>
    <button class="dishes-types" (click)="getDishesByType(typeSpaghetti)" id="button02">Pasta</button>
    <button class="dishes-types" (click)="getDishesByType(typeDrink)" id="button03">Drink</button>
  </div>

  <div>
    <table *ngIf="dishes" class="table-dishes">
      <thead>
      <tr>
        <th class="table-dishes-id">No.</th>
        <th class="table-dishes-name">Name</th>
        <th class="table-dishes-description">Description</th>
        <th class="table-dishes-price">Price</th>
        <th class="table-dishes-add">x</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dish of dishes; let i = index">
        <td class="table-dishes-id">{{i+1}}</td>
        <td class="table-dishes-name">{{dish.name}}</td>
        <td class="table-dishes-description">{{dish.description}}</td>
        <td class="table-dishes-price">{{dish.price}}</td>
        <td class="table-dishes-add">
          <button (click)="addToCart(this.dish)" id="to-cart-{{dish.id}}"> Add to cart!</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


